{% extends 'base.html' %}

{% block content%}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2>Delete Product</h2>
      <div class="alert alert-danger">
        Are you sure you want to delete "{{ product.name }}"?
      </div>
      <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirm Delete</button>
        <a href="{% url 'product:product_list' %}" class="btn btn-secondary">Cancel</a>
      </form>
    </div>
  </div>
</div>
{% endblock content%}